TARGET_LANG=fr
SOURCE_LANG=english
COUNTRY=France
MAX_LEN_CHUNK=8192

# Translation API (Translate)
API_KEY_TRANSLATE=a132b20c-96be-467f-a15a-ed08aed67345
API_BASE_TRANSLATE=http://192.168.0.55:5000/v1
TEMP_TRANSLATE=0.15
TIMEOUT_TRANSLATE=6000
NOTHINK_TRANSLATE=0
MODEL_TRANSLATE=Mistral
S_PROMT_TRANSLATE=0

# Proofread API (Proofread)
API_KEY_PROOFREAD=a132b20c-96be-467f-a15a-ed08aed67345
API_BASE_PROOFREAD=http://192.168.0.55:5000/v1
TEMP_PROOFREAD=0.1
TIMEOUT_PROOFREAD=6000
NOTHINK_PROOFREAD=0
MODEL_PROOFREAD=Saiga_gemma12
S_PROMT_PROOFREAD=0

# Images API (Images)
API_KEY_IMAGES=
API_BASE_IMAGES=
MODEL_IMAGES=gpt-image-1.5

NER=True
DEBUG=0
CONCURRENT_LIMIT=1
FAST_TRANS=on
