icecream
python-dotenv
openai
numpy
tiktoken
langchain-text-splitters
pydantic>=2.0.0
spacy
beautifulsoup4
scikit-learn
pytorch
lxml
cupy
more-itertools
joblib
thinc
spacy-transformers
EbookLib
Pillow