icecream
python-dotenv
pathlib
openai
numpy
tiktoken
langchain-text-splitters
pydantic==2.11.7
spacy
beautifulsoup4
scikit-learn
pytorch-gpu
#torch
lxml
cupy
#cupy in github wiki
more-itertools
joblib
thinc
spacy-transformers
EbookLib